<%= form_for(@document) do |f| %>
  <div class="field">
    <%= f.text_field :nombre, placeholder: "Título", class:"form-control" %>
  </div>
  <div class="field">
   <input class="field">
    <%= f.label value: "Elige el documento para subir" %>
    <%= f.file_field :archivo %>
  </div>
  <div class="field">
    <%= f.submit "Subir", class:"btn-card" %>
  </div>
  <% @article.errors.full_messages.each do |message| %>
    <div class="be-red white small-margin">
      * <%= message %>
    </div>
  <% end %>
<% end %>