<div>

  <% @document.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>

  <div>
  <%= form_for @document do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field" id="ckeditor">
      <%= f.cktext_area :description, :class => "form-control" %>
    </div>
    <%= f.submit 'Subir documento'%>
  <%end %>

</div>

</div>
