<%= form_for @document,  url: after_sign_document_path do |f| %>
  <div class="field">
    <%= f.label :private_key, placeholder: "Sube el archivo de llave privada:" %>
    <%= f.file_field :private_key, :accept => 'application/x-pem-file' %>
  </div>
  <div class="field">
    <%= f.label :pass, placeholder: "Contraseña de la clave privada:" %>
    <%= f.password_field :pass %>
  </div>
  <div class="field">
    <%= f.submit "Subir", class:"btn-card" %>
  </div>
  <%= hidden_field_tag(:documentid, @document.id) %>
  <% @document.errors.full_messages.each do |message| %>
    <div class="be-red white small-margin">
      * <%= message %>
    </div>
  <% end %>
<% end %>
