<div>

<% @document.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>

<%= form_for @document,  url: after_upload_path do |f| %>
  <div class="field">
    <%= f.text_field :name, placeholder: "Título", class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label "Elige el documento para subir" %>
    <%= f.file_field :docfile, :accept => 'application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document' %>
  </div>
  <div class="field">
    <%= f.submit "Subir", class:"btn-card" %>
  </div>

<% end %>

</div>