<!DOCTYPE html>
<html>
  <head>
    <title>Feidocs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="navbar-text pull-right">
    <% if professor_signed_in? %>
      Logged in as <strong><%= current_professor.email %></strong>.
      <%= link_to 'Edit profile', edit_professor_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_professor_session_path, method: :delete, :class => 'navbar-link'  %>
      <!--Opciones navegación-->
      <div>
        <a><%= link_to 'Crear documento', new_document_path, class: "btn-card" %></a>
        <a><%= link_to 'Subir documento' , upload_document_path, class: "btn-card" %></a>
        <a><%= link_to 'Ver mis documentos', documents_path, class: "btn-card" %></a>
        <a><%= link_to 'Documentos compartidos conmigo', documents_shared_path, class: "btn-card" %></a>
        <a><%= link_to 'Abrir chat', chat_index_path, class: "btn-card" %></a>
      </div>
  <% else %>
      <%= link_to "Sign up", new_professor_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_professor_session_path, :class => 'navbar-link'  %>
    <% end %>
  </p>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>  
      <%= yield %>
  </body>
</html>
